extends layout 

block content
    .container 
        if messages.length
            each message in messages 
                .container
                    p #{message.body}
        else 
            if user
                if user.ismember 
                    h1 Welcome to the club 
