body{
    font-family: 'roboto', sans-serif;
    background-color: #E5E5E5;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}
  
.form-signin .checkbox {
    font-weight: 400;
}
  
.form-signin .form-floating:focus-within {
    z-index: 2;
}
  
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
  
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signup .form-floating:focus-within {
    z-index: 2;
}

/* SIGN UP */
.form-signup {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-signup-top {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signup-bottom {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signup-middle {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/*JOIN CLUB*/
.form-join-club {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

/* Messages */

.message{
    width: 700px;
    margin: 15px auto;
}

.message-body-bg{
    background-color: #F1F1F1;
    color: #000000;
    height: 100px;
    padding-top: 10px;
    position: relative;
}

.message-label-color{
    color: #F5F5F5;
}

.message-label-bg{
    background-color: #C4C4C4;
    height: 25px;
    display: inline-block;
}

.label-color {
    color: #F5F5F5;
}

.label-col{
    width:fit-content;
    float: left;
}

/* DELETE BUTTON */

.delete-message{
    margin:0;
    width: 100%;
    position: absolute;
    top:10px;
    left:590px;
}


.delete-button{
    font-size: 10px;
    font-family: 'roboto';
}